[Desktop Entry]
Type=Application
Name=TextGrid Transcriber
Exec=textgrid-transcriber
Icon=textgrid-transcriber
Terminal=false
Categories=Audio;Utility;
